/*



.refreshButton {
  border-radius: 100%;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 40px
  transition: all 0.5s;
  cursor: pointer;
  margin: 2.5px;
}

.refreshButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.refreshButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.refreshButton:hover span {
  padding-right: 12px;
}

.refreshButton:hover span:after {
  opacity: 1;
  right: 0;
}



 */
