<!-- It is a layout we can include it in the main file every time we want it. It's quite handY -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Template</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
